<!DOCTYPE html>
<html data-ng-app="ubid">
<head>
  <meta charset="utf-8">
  <title>ubid.</title>

  <link rel="icon" type="image/png" href="res/images/favicon.png" />
  <link rel="shortcut icon" type="image/png" href="res/images/favicon.png" />

  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />

  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />

  <link rel="stylesheet" href="res/css/third-party/loading-bar.min.css" />
  <link rel="stylesheet" href="res/css/third-party/angular-motion.min.css" />
  <link rel="stylesheet" href="res/css/third-party/bootstrap-additions.min.css" />

  <!-- additionnal css here (keep that order) -->
  <link rel="stylesheet" href="res/css/base.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="res/css/user.css" type="text/css" media="screen" />

  <link rel="stylesheet" href="res/css/header.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="res/css/page.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="res/css/menu-bar.css" type="text/css" media="screen" />

  <link rel="stylesheet" href="res/css/slider.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="res/css/product.css" type="text/css" media="screen" />

  <link rel="stylesheet" href="res/css/register.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="res/css/pms.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="res/css/add.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="res/css/form-page.css" type="text/css" media="screen" />

</head>
<body>
  <!-- alerts -->
  <!--<div class="alert" data-ng-controller="http_logs" style="width:400px;position:fixed;z-index:11;left:10px;top:55px;">
    <div class="alert fade " data-ng-repeat="alert in http_history.alerts" data-bs-alert="alert"></div>
  </div>-->


  <!-- a page loader -->
  <div id="loading-box" wait-for-load class="waiting-for-angular">
    <div class="well">
      <i class="fa fa-spinner fa-spin " style="margin-right:15px;"></i><strong>loading ubid...</strong>
    </div>
  </div>


  <!-- content -->
  <div data-ng-include="'templates/header.html'"></div>
  <div class="page-include" data-ng-include="'templates/page.html'"></div>

<!--   <div data-ng-include="'res/js/modules/debug-bar/html/debug.html'"></div> -->

  <div id="page-content" wait-for-load class="waiting-for-angular">
    <div data-ng-view data-ng-controller="ubid-view"></div>
  </div>

  <!-- jquery + every third party libs -->
  <script src="res/js/third-party/underscore-min.js"></script>
  <script src="res/js/third-party/moment-with-langs.min.js"></script>
  <script src="res/js/third-party/jquery-2.1.0.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.min.js"></script>

  <!-- angular libs -->
  <script src="res/js/third-party/angular-translate.min.js"></script>
  <script src="res/js/third-party/angular-strap.min.js"></script>
  <script src="res/js/third-party/angular-strap.tpl.min.js"></script>
  <script src="res/js/third-party/http-auth-interceptor.js"></script>
  <script src="res/js/third-party/loading-bar.min.js"></script>

  <!-- angular application -->
  <script src="res/js/app/ubid.js"></script>
  <script src="res/js/app/deps.js"></script>
  <script src="res/js/app/page-content.js"></script>
  <script src="res/js/app/star-rating.js"></script>
  <script src="res/js/app/slider.js"></script>
  <script src="res/js/app/user.js"></script>
  <script src="res/js/app/category.js"></script>
  <script src="res/js/app/bid_price_validate.js"></script>

  <!-- angular controllers -->
  <script src="res/js/app/message-ctrl.js"></script>
  <script src="res/js/app/product-mgrs-ctrls.js"></script>

  <!-- angular modules -->
  <script src="res/js/modules/http_logger.js"></script>
  <script src="res/js/modules/debug-bar/debug.js"></script>

</body>
</html>
