

form div.well.form-page.add-form
{
  width: 50%;
  max-width: 50%;
  min-width: 250px;
}

input[type="checkbox"].left.form-control
{
  width: auto;
}

form div.well.form-page.add-form hr
{
  border-color: rgba(0, 0, 0, 0.25);
}

form div.well.form-page h3
{
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-left: 0;
}

form div.well.form-page textarea
{
  max-width: 100%;
  min-width: 100%;
  min-height: 70px;
}

div.add-status
{
  color: red;
}

.dropdown-menu.datepicker,
.dropdown-menu.timepicker
{
  padding: 5px;
}
