
html, body
{
  height: 100%;
}

.waiting-for-angular
{
  display: none;
}

#loading-box
{
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:none;
  padding-top:50px;
  background:rgba(255, 255, 255, 255.5);
  transition: opacity .5s;
}
#loading-box.waiting-for-angular
{
  display:block;
}

#loading-box > div
{
  width:550px;
  margin:auto;
}

.not-so.well
{
  border-left:none;
  border-right:none;
  border-radius:0;
}

.black-box
{
  background: rgba(0, 0, 0, .75);
  padding:0px 5px 0px 5px;
  border-right:solid 1px black;
}

.black-box .well
{
  background-color: rgba(127, 127, 127, .75);
}


.right-inner-addon
{
  position: relative;
}
.right-inner-addon input
{
  padding-right: 30px;
}
.right-inner-addon i
{
  position: absolute;
  right: 0px;
  top:0;
  padding: 10px 12px;
  pointer-events: none;
}


/* rating stars/plus */
.rating-star
{
  vertical-align: middle;
}
.rating-star+.rating-star
{
  margin-left: 5px;
}

.rating-star-plus
{
  margin-left: 6px;
  font-weight: lighter;
  font-size: 0.5em;
  vertical-align: middle;
}


.tooltip
{
  opacity: 1 !important;
}

.center
{
  text-align: center;
}

.login-form .user-box
{
  display: inline-block;
  min-width: 490px;
  padding: 10px 50px;

  color: white;
  box-shadow: 0 -0px 8px 2px rgba(0, 0, 0, 0.3), inset 0 0px 13px 0px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.7);
}

.login-form .attention-text
{
  margin-bottom: 10px;
  text-align: center;
}


.input-error-status-text
{
  height: 0px;
  overflow: hidden;

  color: red;
/*   font-size: 22px; */
/*   font-weight: bolder; */
  background: rgba(255,255,255,1.75);

  /* transition stuff */
  transition: height .4s ease;
  -moz-transition: height .4s ease;
  -webkit-transition: height .4s ease;
  -o-transition: height .4s ease;
  -ms-transition: height .4s ease;
}
.input-success-status-text.activated
{
  height: 22px;
}
.input-success-status-text
{
  height: 0px;
  overflow: hidden;

  color: #2c2;
/*   font-size: 22px; */
/*   font-weight: bolder; */
  background: rgba(255,255,255,1.75);

  /* transition stuff */
  transition: height .4s ease;
  -moz-transition: height .4s ease;
  -webkit-transition: height .4s ease;
  -o-transition: height .4s ease;
  -ms-transition: height .4s ease;
}
.input-error-status-text.activated
{
  height: 22px;
}

.page-content
{
  padding: 5px 25px;
}

.clear
{
  clear: both;
}

.huge
{
  font-size: 1.5em;
  font-weight: bolder;
  vertical-align: sub;
}

hr.dark
{
  border-color: rgba(0, 0, 0, 0.25);
}
