
div.form-page
{
  text-align: center;  
}

.well.form-page
{
  max-width: 450px;
  display: inline-block;
}

.well.form-page .input-group-addon i.fa
{
  width: 50px;
}

.well.form-page button.btn
{
  margin-top: 20px;
}
.well.form-page .input-group 
{
  margin-top: 5px;
}

.well.form-page .form-page-status-text
{
  height: 0px;
  overflow: hidden;

  color: red;
/*   font-size: 22px; */
/*   font-weight: bolder; */
  background: rgba(255,255,255,1.75);

  /* transition stuff */
  transition: height .4s ease;
  -moz-transition: height .4s ease;
  -webkit-transition: height .4s ease;
  -o-transition: height .4s ease;
  -ms-transition: height .4s ease;
}
.well.form-page .form-page-status-text.activated
{
  height: 22px;
}


.form-page-success,
.form-page-fail,
{
  max-width: 950px;
  width: 50%;
  display: inline-block;
}

.form-page-success h1
{
  color: rgba(255, 255, 255, 0.99);
  background: rgba(50, 255, 50, 0.99);

  font-weight: bolder;
}
.form-page-fail h1
{
  color: rgba(255, 255, 255, 0.99);
  background: rgba(255, 50, 50, 0.99);

  font-weight: bolder;
}
