

div.header
{
  position: relative;
  width: 100%;
  height: 110px;
  background-color: #ff581b;

  overflow:hidden;

  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.8);

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
}

/* logo */
.header .logo
{
  display: inline-block;
  height: 100%;

  margin-left: 15px;
}
.header .logo img
{
  width: auto;
  height: 95%;
}

/* search bar*/
.header .search-bar
{
  display: inline-block;

  vertical-align: bottom;
  margin-left: 50px;
  width:35%;
}

.header .search-bar input
{
  display: inline-block;
  width: 100%;
  height: 50px;

  box-shadow: 0 -0px 1px 1px rgba(255, 255, 255, 0.8), inset 0 2px 4px 0px rgba(68, 68, 68, 0.0);

  padding: 10px;

  border: none;
  border-radius: 5px 5px 0 0;

  background-color: rgba(255, 255, 255, 0.4);

  font-weight: bold;
  font-size: 1.3em;

  /* transition stuff */
  transition: background-color,box-shadow .4s ease;
  -moz-transition: background-colo,box-shadow .4s ease;
  -webkit-transition: background-color,box-shadow .4s ease;
  -o-transition: background-color,box-shadow .4s ease;
  -ms-transition: background-color,box-shadow .4s ease;
}
.header .search-bar input:hover,
.header .search-bar input:focus
{
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 -4px 8px 8px rgba(255, 255, 255, 0.1), inset 0 2px 4px 0px rgba(68, 68, 68, 0.8);
}

.header .search-bar input+i
{
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 1);

  cursor: pointer;

  /* transition stuff */
  transition: color,text-shadow .4s ease;
  -moz-transition: color,text-shadow .4s ease;
  -webkit-transition: color,text-shadow .4s ease;
  -o-transition: color,text-shadow .4s ease;
  -ms-transition: color,text-shadow .4s ease;
}
.header .search-bar input:hover+i,
.header .search-bar input:focus+i
{
  color: #444;
  cursor: pointer;
  text-shadow: 0 0 5px rgba(68, 68, 68, 1);
}

/* user infos/ctrls */
.header .user-box
{
  right: -355px;
  bottom: 0;
  position:absolute;
  display:inline-block;

  width: 450px;
  min-width: 350px;
  height: 70px;

  box-shadow: 0 -0px 8px 2px rgba(0, 0, 0, 0.3), inset 0 0px 13px 0px rgba(0, 0, 0, 0.3);

  background-color: rgba(0, 0, 0, 0.7);

  /* transition stuff */
  transition: right .4s ease;
  -moz-transition: right .4s ease;
  -webkit-transition: right .4s ease;
  -o-transition: right .4s ease;
  -ms-transition: right .4s ease;
}
.header .user-box:hover
{
  right: 0;
}

.user-box .show-more-icon
{
  display: inline-block;
  color: white;
  height: 50%;
  vertical-align: middle;
  padding-top: 2px;
  width: 25px;
  padding-left: 9px;
  float: left;
}

.header .user-box:hover .show-more-icon
{
  display: none;
}


.header .user-box .header-user-info
{
  display:inline-block;
  height: 100%;

  color: white;
}

.header .user-menu
{
  display:inline-block;
  height: 100%;

  vertical-align: middle;

  padding: 15px 0;

  color: rgba(255, 255, 255, 0.75);
}

.header .user-menu span.menu-item:before
{
  display: inline-block;
  height: 100%;
  content: " ";
  vertical-align: middle;

  padding: 0;
}

.header .user-menu span.menu-item
{
  display:inline-block;
  vertical-align: middle;
  padding: 0;
  height: 100%;
  padding-left: 10px;
  padding-right: 5px;
  border-left: solid 5px rgba(255, 255, 255, 0.5);

  cursor: pointer;
}

.header .user-menu span.menu-item:hover
{
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.header .user-menu span.menu-item i
{
  display:inline-block;
  vertical-align: middle;
}

.header .user-not-connected
{
  text-align: center;
  width: 515px;
  min-width: 40px;
  height: auto;
}

.header .user-not-connected .user-menu
{
  padding: 5px 20px;
}

.header .user-menu .connect-button
{
  cursor: pointer;
}

.header .user-menu .connect-button:hover
{
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.user-not-connected .auth-status-text
{
  height: 0px;

  color: red;
/*   font-size: 22px; */
/*   font-weight: bolder; */
  background: rgba(255,255,255,1.75);

  /* transition stuff */
  transition: height .4s ease;
  -moz-transition: height .4s ease;
  -webkit-transition: height .4s ease;
  -o-transition: height .4s ease;
  -ms-transition: height .4s ease;
}
.user-not-connected .auth-status-text.activated
{
  height: 22px;
}


#input-username,
#input-password
{
  width: 150px;
}


