
div.menu-bar
{
  max-width: 100px;
  min-width: 100px;

  padding: 0;

/*   box-shadow: inset 0 0px 4px 0px rgba(0, 0, 0, 0.8); */

  margin: 0;
  float: left;
}

.menu-bar div
{
  height: auto;
}

.menu-bar .menu-entry
{
  position: relative;
  padding: 10px 3px 10px 15px;
  margin-top: 50px;

  color: white;
  background-color: rgba(0, 0, 0, 0.35);

  cursor: pointer;

  /* transition stuff */
  transition: background-color .4s ease;
  -moz-transition: background-color .4s ease;
  -webkit-transition: background-color .4s ease;
  -o-transition: background-color .4s ease;
  -ms-transition: background-color .4s ease;
}
.menu-bar .menu-entry+.menu-entry
{
  margin-top: 20px;
}

.menu-bar .menu-entry:hover
{
  background-color: rgba(0, 0, 0, 0.5);
}
.menu-bar .menu-entry.current
{
  background-color: rgba(0, 0, 0, 0.75);
}

.menu-bar .menu-entry .notifs
{
  display: inline;
  position: relative;
  top: -15px;
  left: -15px;
  margin-right: -15px;

  padding: 2px 7px;

  border-radius: 10px;
  border: solid 2px rgba(0, 0, 0, 0.1);

  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.menu-bar .menu-entry i.fa-caret-right
{
  float: right;
}

