
.page-include,
.page-include .page-container
{
  background: #ff3815;
  position: relative;
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.page-include .menu-bar
{
  height: 100%;
  min-height: 100%;
}

.ubid-breadcrumb
{
  margin-left: 100px;
  background-color: #eee;
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.8);

/*   width: 100%; */

  height: 25px;
  padding-top: 5px;
  padding-left: 10px;

  margin-bottom: 10px;
}
.ubd-entry
{
  font-weight: bolder;
  cursor: pointer;
}

.page
{
  background:#eee;

  min-height:450px;
  margin: 0;

  margin-left: 100px;

  padding-top: 10px;
  padding-bottom: 50px;

  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.8);

  /* transition stuff */
  transition: background .4s ease;
  -moz-transition: background .4s ease;
  -webkit-transition: background .4s ease;
  -o-transition: background .4s ease;
  -ms-transition: background .4s ease;
}

.page.reduced-page
{
  position: absolute;
  left: -100px;
  top:10px;
  width: 100px;
  max-width: 100px;
  height: 25px;
  max-height: 25px;
  min-height: 25px;
  background:#ff3815;
  margin-left: 0px;
  overflow: hidden;
}
.page.reduced-page *
{
  visibility: hidden;
  display: none;
}
.page.reduced-page.invisible-page
{
  display: none;
}



.page h2
{
  margin-top: 30px;
  margin-left: 10px;

  border-bottom: solid 1px black;
}
.page h3
{
  margin-top: 30px;
  margin-left: 10px;

  border-bottom: solid 1px black;
}


.page .main-page-slider
{
  display: block;

  width: 100%;
  height: 350px;
  min-height: 350px;
  max-height: 350px;

  padding: 0 10px;
  margin-bottom: 10px;
}

.nothing-to-show
{
/*   display: inline-block; */
  text-align: center;
  vertical-align: middle;
}
.nothing-to-show div.well
{
  display: inline-block;
  max-width: 950px;
  width: 50%;
  height: 250px;
  padding-top: 100px;
}


