
.product-square
{
  width: 250px;
  height: 250px;
  min-height: 250px;
  max-height: 250px;

  position: relative;

  overflow: hidden;

  margin: 10px;
  margin-top: 0px;

  cursor: pointer;

  background-color: #555;
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.8);
  border: solid 1px rgba(60, 60, 60, 0.9);

  text-align: center;
}

.product-square div
{
  height: auto;
}

.product-square .product-image
{
  max-height: 200px;
  height: 200px;
  display: inline-block;
  vertical-align: middle;
}
.category.product-square .product-image
{
  max-height: 220px;
  height: 220px;
  display: inline-block;
}

.product-square .product-image:before
{
  content: " ";
  font-size: 0px;
  color: rgba(0, 0, 0, 0);
  display: inline-block;
  height: 100%;
  max-width:4px;
  margin-left:-5px;
  vertical-align: middle;
}

.product-square .product-image img
{
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.product-square .product-info-block
{
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;

  padding: 5px 10px;

  background-color: rgba(0, 0, 0, 0.8);
  color: white;

  box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.8);
  text-align: left;

  top: 0px;

  /* transition stuff */
  transition: top .4s ease;
  -moz-transition: top .4s ease;
  -webkit-transition: top .4s ease;
  -o-transition: top .4s ease;
  -ms-transition: top .4s ease;
}
.product-square:not(.category):hover .product-info-block
{
  top: -200px;
}

.product-info-block .product-info
{
  display: inline-block;
  width: 49%;
  max-width: 49%;

  border-right: solid 2px rgba(255, 255, 255, 0.5);

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-info-block .product-info .product-name
{
  font-weight: bold;
}

.product-info-block .product-price
{
  display: inline-block;
  width: 49%;
  max-width: 49%;

  vertical-align: top;

  padding-left: 10px;
  text-align: right;

  font-weight: bold;
  font-size: 2em;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.category .product-info-block .product-price
{
  font-size: 1em;
}

.product-info-block .product-bids
{
  margin-top: 5px;
}
.product-info-block .product-bids,
.product-info-block .product-description
{
  border-top: solid 2px rgba(255, 255, 255, 0.5);
  padding: 3px 0px;
}

/* view */
.product-view
{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;

  box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.8);
  text-align: left;
}

.product-view img
{
  display: inline-block;
  height: auto;
  width: 100%;
}

.product-view .product-description
{
  display: inline-block;
  vertical-align: middle;
  padding-top: 15px;
}
.product-view .product-description h4
{
  font-weight: bold;
  font-size: 2em;
}

.product-view .product-price
{
  border-top: solid 2px rgba(255, 255, 255, 0.5);
  border-bottom: solid 2px rgba(255, 255, 255, 0.5);

  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 25px;

  font-weight: bold;
  font-size: 2em;
}

.product-view .product-price .subinfo
{
  font-size: 0.75em;
  font-weight: normal;
}


.product-view .product-user
{
  margin-top: 25px;
  margin-bottom: 15px;

  font-size: 1.5em;
}

.info .table-container
{
  padding: 0px 15px;
}
.info .table-container .table tr td:first-child
{
  width: 25%;
  min-width: 150px;
}

.bid-form
{
  padding: 0 25%;
}