
.ubid-slider
{
  display: inline-block;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  overflow: hidden;

  cursor: pointer;
  position: relative;

  background-color: #555;
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.8);
  border: solid 1px rgba(60, 60, 60, 0.9);
}

.ubid-slider .slider-prev,
.ubid-slider .slider-next
{
  opacity: 0;

/*   top: 25%; */
  top: 0;
  position: absolute;

  display: inline-block;
  z-index: 100;
/*   height: 25%; */
  width: 100px;

  color: white;
  background-color: rgba(0, 0, 0, 0.8);

  box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.8);
  text-align: center;

  /* transition stuff */
  transition: opacity .4s ease;
  -moz-transition: opacity .4s ease;
  -webkit-transition: opacity .4s ease;
  -o-transition: opacity .4s ease;
  -ms-transition: opacity .4s ease;

  vertical-align: middle;
}
.ubid-slider:hover .slider-prev,
.ubid-slider:hover .slider-next
{
  opacity: 1;
}

.ubid-slider .slider-prev i,
.ubid-slider .slider-next i
{
  display: inline-block;
  vertical-align: middle;
}

.ubid-slider .slider-prev
{
  left: 0;
}
.ubid-slider .slider-next
{
  right: 0;
}

.ubid-slider .slider-content
{
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;

  z-index: 1;

  position: absolute;
  top: 0%; /* change this value by steps of -100% ;) */

  /* transition stuff */
  transition: top .4s ease;
  -moz-transition: top .4s ease;
  -webkit-transition: top .4s ease;
  -o-transition: top .4s ease;
  -ms-transition: top .4s ease;
}

.ubid-slider .slider-element
{
  display: inline-block;
  position: relative;

  height: 100%;
  width: 100%;
  min-height: 100%;
  text-align:middle;
}

.ubid-slider .slider-element .slider-element-image
{
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
}
.ubid-slider .slider-element .slider-element-image img
{
  display: inline-block;
  width: auto;
  height: 100%;
  margin: auto 0;
}
.ubid-slider .slider-element .product-info-block
{
  display: inline-block;

  width: 100%;
  height: 40px;

  position: absolute;
  bottom: 0px;
  left: 0px;

  padding: 0px 10px;

  background-color: rgba(0, 0, 0, 0.8);
  color: white;

  box-shadow: 0 -2px 2px 0px rgba(0, 0, 0, 0.8);
  text-align: left;

  font-size: 1.0em;

  overflow: hidden;
}
.slider-element .product-info-block .product-info,
.slider-element .product-info-block .product-price
{
  float: left;
/*   position: absolute; */
  display: inline-block;
  width: 150px;
  min-width: 100px;
}
.slider-element .product-info-block .product-price
{
  border-right: solid 2px rgba(255, 255, 255, 0.5);
  padding-right: 10px;
}
.slider-element .product-info-block .product-description
{
  float: none;
  display: block;
  margin-left: 320px;
  border-top: none;
  padding: 0;
}