

.user-info
{
  display:inline-block;
  height: 100%;
}

.user-info .user-pict
{
  display: inline-block;
  vertical-align: top;

  height: 100%;
}

.user-info .user-pict img
{
  height: 100%;
  width: auto;
}

.user-info .user-data
{
  display: inline-block;

  height: 100%;
}

.user-info .user-data /*.user-name*/
{
  margin: 5px 0;

  font-weight: bold;
  font-size: 1.4em;
}

.user-box .user-info .show-more-icon
{
  padding-top: 10%;
}
