
<h2>Add a product</h2>

<div data-ng-include="'templates/login-form.html'" />

<div class="page-content form-page" data-ng-if="user.is_logged">
  <form class="form-horizontal form-page" role="form" name="add_form" data-ng-controller="add-product-ctrl">
    <div class="well form-page add-form">

    <h3>Product information:</h3>

    <!-- product name -->
      <div class="form-group" data-ng-class="{'has-error': (add_form.name.$error.minlength || add_form.name.$error.required) && (add_form.name.$dirty)}">
        <label class="col-sm-2 control-label">name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="product-name" data-ng-model="product.name" placeholder="product name" name="name" data-ng-minlength="4" data-ng-required=true />
        </div>
      </div>

    <!-- product description -->
      <div class="form-group" data-ng-class="{'has-error': (add_form.descr.$error.minlength || add_form.descr.$error.required) && (add_form.descr.$dirty)}">
        <label class="col-sm-2 control-label">description</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="product-descr" data-ng-model="product.description" name="descr" placeholder="product description" data-ng-minlength="20" data-ng-required=true></textarea>
        </div>
      </div>

      <hr />

      <!-- product category -->
      <div class="form-group" data-ng-class="{'has-error': product.category == -1}">
        <label class="col-sm-2 control-label">category</label>
        <div class="col-sm-10">
          <select class="form-control" id="product-cat" name="category" data-ng-model="product.category" placeholder="product description" data-ng-options="category.id as category.name for category in categories" data-required=true>
          </select>
        </div>
      </div>

      <hr />

      <!-- direct / bid -->
      <div class="form-group">
        <label class="col-sm-2 control-label">direct sale</label>
        <div class="col-sm-10">
          <input type="checkbox"  class="left form-control" id="product-bidding" data-ng-model="product.is_direct" />
        </div>
      </div>

      <hr />

      <!-- product price -->
      <div class="form-group" data-ng-class="{'has-error': (add_form.start_price.$error.required || add_form.start_price.$error.number) && (add_form.start_price.$dirty)}">
        <label class="col-sm-2 control-label"><span data-ng-if="!product.is_direct">start </span>price</label>
        <div class="col-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
            <input id="product-price" type="number" class="form-control" data-ng-model="product.start_price" name="start_price" data-ng-required=true />
          </div>
        </div>
      </div>

      <!-- product shipping price -->
      <div class="form-group" data-ng-class="{'has-error': (add_form.shipping_cost.$error.required || add_form.shipping_cost.$error.number) && (add_form.shipping_cost.$dirty)}">
        <label class="col-sm-2 control-label">shipping price</label>
        <div class="col-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
            <input id="product-shipping_cost" type="number" class="form-control" data-ng-model="product.shipping_cost" name="shipping_cost" data-ng-required=true />
          </div>
        </div>
      </div>

      <div data-ng-if="!product.is_direct">
        <hr />

        <!-- end date -->
          <div class="form-group" data-ng-class="{'has-error': (add_form.end_time.$error.required || add_form.end_time.$invalid || add_form.end_date.$error.required || add_form.end_date.$invalid) && (add_form.end_date.$dirty || add_form.end_date.$dirty)}">
            <label class="col-sm-2 control-label">end date</label>
            <div class="col-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input id="product-end_date" type="date" class="form-control" data-ng-model="product.end_date" name="end_date" data-min-date="today" data-placement="top" data-date-type="number"  data-bs-datepicker data-ng-required=true />
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                <input id="product-end_date" type="date" class="form-control" data-ng-model="product.end_date" name="end_time" data-placement="top" data-time-type="number"  data-bs-timepicker data-ng-required=true />
              </div>
            </div>
        </div>
      </div>

      <hr />

      <!-- legal note -->
      <div class="form-group">
        <label class="col-sm-2 control-label">LEGAL NOTE</label>
        <div class="col-sm-10">
          <div class="input-group">
              Ubid will takes <strong>35%</strong> on every sells you'll do through it.
          </div>
          <div class="input-group">
              If you don't have a credit card registered at the time of the product creation, <strong>100%</strong> of the sell will go to Ubid.
          </div>
          <div class="input-group">
              Beside that, you are the only responsible of the use of our service. <strong>You have to respect the law</strong> in regard of what could be sold or not.
          </div>

        </div>
      </div>
      <!-- agreement -->
      <div class="form-group">
        <label class="col-sm-2 control-label">I agree with the legal note</label>
        <div class="col-sm-10">
          <input type="checkbox"  class="left form-control" data-ng-model="status.agreement" />
        </div>
      </div>

      <hr />
      <div data-ng-repeat="message in status_messages" class="add-status">{{message}}</div>
      <button class="btn btn-block btn-lg" data-ng-click="create_product()" data-ng-class="{'btn-primary': add_form.$valid && status.agreement && product.category != -1}" data-ng-disabled="add_form.$invalid || !status.agreement || product.category == -1">Add the product !</button>

    </div>
  </form>
</div>
