
<h2>Cart</h2>

<span data-ng-include="'templates/product-grid.html'"></span>

<button type="button" class="btn btn-primary btn-lg btn-block" data-ng-show="user.cart.length" data-ng-click="buy_cart()">BUY <strong>NOW</strong> !!!</button>