
<span class="main-page-slider" data-ng-controller="cat-product-list-ctrl" data-ng-include="'templates/slider.html'"></span>

<h2>{{category_name}}</h2>

<span data-ng-controller="cat-product-list-ctrl" data-ng-include="'templates/product-grid.html'"></span>

