
<h2>{{category_name}}</h2>

<div ng-show="products_list.length">
  <span class="main-page-slider" data-ng-controller="cat-product-list-ctrl" data-ng-include="'templates/slider.html'"></span>
</div>


<div ng-show="categories_list.length">
  <h3 ng-show="products_list.length">sub-categories</h3>
  <span class="pull-left" data-ng-repeat="category in categories_list" data-ng-include="'templates/category-square.html'" data-ng-click="view_category($index)"></span>
  <div class="clearfix"></div>
</div>


<div ng-show="products_list.length">
  <h3>products</h3>
  <span class="pull-left" data-ng-repeat="product in products_list" data-ng-include="'templates/product-square.html'" data-ng-click="view_product($index)"></span>
  <div class="clearfix"></div>
</div>


<div ng-show="!products_list.length && !categories_list.length" class="nothing-to-show">
  <div class="well">
    <p class="lead">There is nothing to show here...</p>
  </div>
</div>

