

<div class="product-square category">

  <div class="product-image">
    <img data-ng-src="{{category.image}}" />
  </div>

  <div class="product-info-block">
    <span class="product-info">
      <div class="product-name">{{category.name}}</div>
    </span>
    <div class="product-price">{{category.count}} products</div>
  </div>

</div>