
<div data-ng-controller="header-ctrl" class="header">

  <div class="logo">
    <img src="res/images/header-logo.png" />
  </div>

  <div class="search-bar right-inner-addon">
    <form data-ng-submit="search()">
      <input type="text" placeholder="search..." data-ng-model="search_string" class="form-control" />
      <i class="fa fa-search fa-2x" data-ng-click="search()"></i>
    </form>
  </div>

  <div class="user-box" data-ng-if="user.is_logged">
    <div data-ng-include="'templates/user-short-info.html'" class="header-user-info"></div>

    <!-- menu -->
    <div class="pull-right user-menu">
      <span class="menu-container">
        <span class="menu-item" data-ng-click="push_current_page('user-info', 'templates/user-info.html');">
          <i class="fa fa-user fa-2x"></i>
        </span>
        <span class="menu-item">
          <i class="fa fa-cog fa-2x"></i>
        </span>
        <span class="menu-item"  data-ng-click="logout()">
          <i class="fa fa-sign-out fa-2x"></i>
        </span>
      </span>
    </div>

  </div>
  <div class="user-box user-not-connected" data-ng-if="!user.is_logged">
    <div class="show-more-icon">
      <i class="fa fa-caret-right fa-3x"></i>
    </div>
    <form class="form-inline" data-ng-controller="user-auth-ctrl" role="form">
      <div class="user-menu">
        <div class="input-group">
          <input type="text" class="form-control input-username" id="input-username" data-ng-model="username" placeholder="username">
          <input type="password" class="form-control input-password" id="input-password" data-ng-model="password" placeholder="password">
          <span class="input-group-btn">
            <button type="submit" data-ng-click="login()" class="btn btn-primary">Sign in</button>
            <button type="button" data-ng-click="push_current_page('register', 'templates/register.html');" class="btn btn-info">Register</button>
          </span>
        </div>
      </div>
      <div class="auth-status-text" data-ng-class="{activated: status.length}" >
        {{status}}
      </div>
    </form>
  </div>

</div>
