<!-- the login form -->
<div class="center login-form" data-ng-if="!user.is_logged">
  <div class="user-box user-not-connected">
    <div class="attention-text"><strong>You must be logged in to perform this action !</strong></div>
    <form class="form-inline" data-ng-controller="user-auth-ctrl" role="form">
      <div class="user-menu">
        <div class="input-group">
          <input type="text" class="form-control input-username" id="input-username" data-ng-model="username" placeholder="username">
          <input type="password" class="form-control input-password" id="input-password" data-ng-model="password" placeholder="password">
          <span class="input-group-btn">
            <button type="submit" data-ng-click="login()" class="btn btn-primary">Sign in</button>
            <button type="button" data-ng-click="push_current_page('register', 'templates/register.html');" class="btn btn-info">Register</button>
          </span>
        </div>
      </div>
      <div class="auth-status-text" data-ng-class="{activated: status.length}" >
        {{status}}
      </div>
    </form>
  </div>
</div>