

<!-- a slider -->
<span class="main-page-slider" data-ng-controller="stared-product-list-ctrl" data-ng-include="'templates/slider.html'"></span>

<h2>Top products</h2>
<!-- a product grid -->
<span data-ng-controller="stared-product-list-ctrl" data-ng-include="'templates/product-grid.html'"></span>
