

<div data-ng-controller="menu-bar-ctrl">
  <div class="menu-entry" data-ng-click="push_current_page('home', 'templates/main-page.html');clear_page_stack()">
    <i class="fa fa-home fa-2x"></i>
    <i class="fa fa-caret-right fa-2x"></i>
  </div>

  <div class="menu-entry" data-ng-click="push_current_page('categories', 'templates/categories.html');clear_page_stack()">
    <i class="fa fa-list fa-2x"></i>
    <i class="fa fa-caret-right fa-2x"></i>
  </div>

<!--  <div data-ng-show="user.is_logged" class="menu-entry" data-ng-click="push_current_page('favs','templates/favorites.html');clear_page_stack()">
    <i class="fa fa-star fa-2x"></i>
    <span class="notifs">{{user.fav_notifs}}</span>
    <i class="fa fa-caret-right fa-2x"></i>
  </div> -->

  <div data-ng-show="user.is_logged" class="menu-entry" data-ng-click="push_current_page('messages','templates/messages.html', 'message-ctrl');clear_page_stack()">
    <i class="fa fa-envelope fa-2x"></i>
    <span data-ng-show="user.unread_messages" class="notifs">{{user.unread_messages}}</span>
    <i class="fa fa-caret-right fa-2x"></i>
  </div>

  <div data-ng-show="user.is_logged" class="menu-entry" data-ng-click="push_current_page('cart','templates/cart.html', 'cart-ctrl');clear_page_stack()">
    <i class="fa fa-shopping-cart fa-2x"></i>
    <span data-ng-show="user.cart.length" class="notifs">{{user.cart.length}}</span>
    <i class="fa fa-caret-right fa-2x"></i>
  </div>

  <div class="menu-entry" data-ng-click="push_current_page('Add product', 'templates/add_product.html');clear_page_stack()">
    <i class="fa fa-plus fa-2x"></i>
    <i class="fa fa-caret-right fa-2x"></i>
  </div>
</div>