
<h2>Personnal Messages</h2>

<div data-ng-include="'templates/login-form.html'" />

<div class="page-content" data-ng-if="user.is_logged">
  <h3>compose message</h3>
  <div class="personnal-message unread visible">
    <div class="message-content" data-ng-controller="message-send-ctrl">
      <h4><strong>new message:</strong></h4>

      <div class="input-error-status-text" data-ng-class="{activated: error_send_text.length}">{{error_send_text}}</div>
      <div class="input-success-status-text" data-ng-class="{activated: success_send_text.length}">{{success_send_text}}</div>

      <input type="text" class="form-control" data-ng-model="nmsg.dest" placeholder="semicolon separated usernames" />
      <input type="text" class="form-control" data-ng-model="nmsg.title" placeholder="Message title" />
      <textarea class="form-control" data-ng-model="nmsg.content" placeholder="Message content" />
      <button class="btn btn-primary btn-lg btn-block" data-ng-click="send_message()">Send</button>
    </div>
  </div>

  <h3 data-ng-if="user.unread_messages">unread messages ({{user.unread_messages}})</h3>
  <div data-ng-repeat="message in user.messages" data-ng-if="!message.read" class="personnal-message unread">
    <div data-ng-click="read_message(message.id, $event.target)" class="message-title"><strong>{{message.subject}}</strong> <em>{{message.text | limitTo:55}}...</em></div>
    <div class="message-content">
      {{message.text}}
    </div>
    <div class="message-content" data-ng-controller="message-reply-ctrl">
      <h4><strong>reply:</strong></h4>

      <div class="input-error-status-text" data-ng-class="{activated: error_send_text.length}">{{error_send_text}}</div>
      <div class="input-success-status-text" data-ng-class="{activated: success_send_text.length}">{{success_send_text}}</div>

      <textarea class="form-control" data-ng-model="reply.content" placeholder="Message content" />
      <button class="btn btn-primary btn-lg btn-block" data-ng-click="send_message()">Send</button>
    </div>
  </div>

  <h3 data-ng-if="user.messages.length">read messages</h3>
  <div data-ng-repeat="message in user.messages" data-ng-if="message.read" class="personnal-message">
    <div class="message-title" data-ng-click="show_message($event.target)"><strong>{{message.subject}}</strong> <em>{{message.text | limitTo:55}}...</em></div>
    <div class="message-content">
      {{message.text}}
    </div>
    <div class="message-content" data-ng-controller="message-reply-ctrl">
      <h4><strong>reply:</strong></h4>

      <div class="input-error-status-text" data-ng-class="{activated: error_send_text.length}">{{error_send_text}}</div>
      <div class="input-success-status-text" data-ng-class="{activated: success_send_text.length}">{{success_send_text}}</div>

      <textarea class="form-control" data-ng-model="reply.content" placeholder="Message content" />
      <button class="btn btn-primary btn-lg btn-block" data-ng-click="send_message()">Send</button>
    </div>
  </div>
</div>

