
<div class="page-container" data-ng-controller="page-ctrl">
  <div class="menu-bar" data-ng-include="'templates/menu-bar.html'"></div>

  <div class="ubid-breadcrumb">
    <span data-ng-repeat="page in page_stack.page_stack" data-ng-click="pop_page(page_stack.page_stack.length - $index - 1)" class="ubd-entry">
      {{page.name}} /
    </span>
    <span>
      {{page_stack.current_page.name}}
    </span>
  </div>

  <div class="page">
    <span data-ng-include="'templates/main-page.html'"></span>
  </div>
  <div class="clearfix"></div>
</div>
