


<h2>{{product.name}}</h2>

<!-- base view -->
<div class="product-view container-fluid">
  <div class="row">
    <div class="col-md-5">
      <img data-ng-src="{{product.image}}" />
    </div>
    <div class="col-md-7">
      <span class="product-description">
        <h4>description:</h4>
        {{product.description}}
      </span>
      <div class="product-price">{{product.current_price| number: 2}} $ <span data-ng-if="!product.is_direct">/ {{product.bid_count}} bids</span>
        <span class="subinfo" data-ng-if="product.is_direct"> direct sale</span>
        <div class="subinfo">shipping cost: {{product.shipping_cost | number: 2}} $</div>
        <div class="subinfo" data-ng-if="!product.is_direct">end date: {{product.end_date * 1000 | date: 'dd MMMM yyyy'}}</div>
      </div>
      <div class="product-user">seller: <strong>{{product.vendor.username}}</strong> <div class="product-user-rating" data-star-rating="product.vendor.rating"></div> </div>
      <div class="clearer"></div>
    </div>
  </div>
</div>

<!-- infos -->
<div class="info" data-ng-if="!product.is_direct">
  <h3>info: </h3>
  <div class="table-container">
    <table class="table table-striped">
      <tbody>
        <tr><td><strong>start date:</strong></td><td>{{product.start_date * 1000 | date: 'dd MMMM yyyy'}}</td></tr>
        <tr><td><strong>end date:</strong></td><td>{{product.end_date * 1000 | date: 'dd MMMM yyyy'}}</td></tr>
        <tr><td><strong>start price:</strong></td><td>{{product.start_price | number: 2}} $</td></tr>
        <tr><td><strong>current price:</strong></td><td>{{product.current_price | number: 2}} $</td></tr>
        <tr><td><strong>shipping cost:</strong></td><td>{{product.shipping_cost | number: 2}} $</td></tr>
        <tr><td><strong>bid number:</strong></td><td>{{product.bid_count}}</td></tr>
        <tr><td><strong>bidders:</strong></td><td>{{product.bidders.length}}</td></tr>
      </body>
    </table>
  </div>
</div>

<!-- make a bid -->
<div class="info" data-ng-show="!product.is_direct && product.vendor.id != user.id">
  <h3>bid on this product ! </h3>

  <div data-ng-include="'templates/login-form.html'" />

  <div data-ng-show="user.is_logged" class="bid-form" data-ng-controller="product-bid-ctrl">
    <form role="form" name="bid_form" id="bid_form">
      <div class="form-group">
        <div class="input-group input-group-lg" data-ng-class="{'has-error': (bid_form.bid_price.$error.minlength || bid_form.bid_price.$error.required || status_bid.length) && bid_form.bid_price.$dirty}">
          <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
          <input type="number" class="form-control" data-ng-model="bid_price" name="bid_price" data-ng-minlength="1" data-valid-price=true data-ng-required=true>
        </div>
        <div class="input-error-status-text" data-ng-class="{activated: bid_form.bid_price.$error.required && bid_form.bid_price.$dirty}" >
          You must enter a bid !
        </div>
        <div class="input-error-status-text" data-ng-class="{activated: bid_form.bid_price.$error.number && bid_form.bid_price.$dirty}" >
          You must enter a valid number !
        </div>
        <div class="input-error-status-text" data-ng-class="{activated: bid_form.bid_price.$error.price && bid_form.bid_price.$dirty}" >
          The bid must be at least {{product.current_price + 0.01}} $ !
        </div>
        <div class="input-error-status-text" data-ng-class="{activated: bid_status.length}" >
          {{bid_status}}
        </div>
      </div>

      <button type="button" class="btn btn-primary btn-lg btn-block" data-ng-click="bid_now()">BID NOW !!</button>

    </form>
  </div>

</div>

<!-- add to cart / direct checkout -->
<div class="info" data-ng-if="product.is_direct && product.vendor.id != user.id">
  <h3>buy this product <strong>NOW</strong> ! </h3>

  <div data-ng-include="'templates/login-form.html'" />

  <div data-ng-show="user.is_logged" class="bid-form" data-ng-controller="product-buy-ctrl">
    <form role="form" name="buy_form" id="buy_form">
<!--       <button type="button" class="btn btn-primary btn-lg btn-block" data-ng-click="buy_now()">BUY <strong>NOW</strong> !!!</button> -->
      <button type="button" class="btn btn-lg btn-block" data-ng-hide="in_cart" data-ng-click="add_to_cart()">add to cart <strong>NOW</strong></button>
      <button type="button" class="btn btn-lg btn-block" data-ng-show="in_cart" disabled>In cart</button>
    </form>
  </div>

</div>

<!-- rate the user -->
<div class="info" data-ng-if="user.is_logged && product.vendor.id != user.id" data-ng-controller="user-rate-ctrl">
  <h3>rate the user:</h3>

  <div class="bid-form huge container-fluid" data-ng-show="!success">
    <div class="row"><div class="product-user col-sm-4">seller:</div> <div class="col-sm-8"><strong class="huge">{{product.vendor.username}}</strong></div></div>
    <div class="row"><div class="product-user col-sm-4">current rating:</div> <div class="col-sm-8"><span class="huge product-user-rating" data-star-rating="product.vendor.rating"></span> ({{product.vendor.rating}} %)</div></div>
    <hr class="dark" />

    <div class="row"><div class="product-user col-sm-4">your rating:</div>
      <div class="col-sm-8">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" data-ng-model="new_score" placeholder="score">
          <span class="input-group-addon"><strong>%</strong></span>
        </div>
      </div>
    </div>

    <hr />
    <div class="add-status">{{status_message}}</div>
    <hr data-ng-if="status_message.length" />
    <button type="number" class="btn btn-lg btn-info btn-block" data-ng-click="rate_user()"><strong>rate {{product.vendor.username}} !</strong></button>


  </div>
  <div data-ng-show="success && !status_message.length" class="bid-form form-page-success">
    <h1>YOU DID IT !!!</h1>
    <p class="lead">You have rated {{product.vendor.username}}</p>
  </div>
  <div data-ng-show="success && status_message.length" class="bid-form form-page-fail">
    <h1>Oh...</h1>
    <p class="lead">{{status_message}}</p>
  </div>


</div>


<!-- Update -->
<div class="info" data-ng-if="product.vendor.id == user.id && user.is_logged">
  <h3>Update product information</h3>

  <div class="page-content form-page" data-ng-if="user.is_logged">
    <form class="form-horizontal form-page" role="form" name="upd_form" data-ng-controller="upd-product-ctrl">
      <div class="well form-page add-form">

      <!-- product name -->
        <div class="form-group" data-ng-class="{'has-error': (upd_form.name.$error.minlength || upd_form.name.$error.required) && (upd_form.name.$dirty)}">
          <label class="col-sm-2 control-label">name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="product-name" data-ng-model="product_cpy.name" placeholder="product name" name="name" data-ng-minlength="4" data-ng-required=true />
          </div>
        </div>

      <!-- product description -->
        <div class="form-group" data-ng-class="{'has-error': (upd_form.descr.$error.minlength || upd_form.descr.$error.required) && (upd_form.descr.$dirty)}">
          <label class="col-sm-2 control-label">description</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="product-descr" data-ng-model="product_cpy.description" name="descr" placeholder="product description" data-ng-minlength="20" data-ng-required=true></textarea>
          </div>
        </div>

        <hr />

        <!-- product category -->
        <div class="form-group" data-ng-class="{'has-error': product_cpy.category == -1}">
          <label class="col-sm-2 control-label">category</label>
          <div class="col-sm-10">
            <select class="form-control" id="product-cat" name="category" data-ng-model="product_cpy.category" placeholder="product description" data-ng-options="category.id as category.name for category in categories" data-required=true>
            </select>
          </div>
        </div>

        <hr />
        <div data-ng-if="product_cpy.bid_count == 0">
        <!-- product price -->
          <div class="form-group" data-ng-class="{'has-error': (upd_form.start_price.$error.required || upd_form.start_price.$error.number) && (upd_form.start_price.$dirty)}">
            <label class="col-sm-2 control-label"><span data-ng-if="!product.is_direct">start </span>price</label>
            <div class="col-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                <input id="product-price" type="number" class="form-control" data-ng-model="product_cpy.start_price" name="start_price" data-ng-required=true />
              </div>
            </div>
          </div>

          <!-- product shipping price -->
          <div class="form-group" data-ng-class="{'has-error': (upd_form.shipping_cost.$error.required || upd_form.shipping_cost.$error.number) && (upd_form.shipping_cost.$dirty)}">
            <label class="col-sm-2 control-label">shipping price</label>
            <div class="col-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                <input id="product-shipping_cost" type="number" class="form-control" data-ng-model="product_cpy.shipping_cost" name="shipping_cost" data-ng-required=true />
              </div>
            </div>
          </div>

        </div>
        <div data-ng-if="product_cpy.bid_count != 0">
          <strong>You can only update the minimal price and the shipping cost if there isn't any bid on your product</strong>
        </div>


        <hr />
        <div data-ng-repeat="message in status_messages" class="add-status">{{message}}</div>
        <button class="btn btn-block btn-lg" data-ng-click="update_product()" data-ng-class="{'btn-primary': upd_form.$valid}" data-ng-disabled="upd_form.$invalid">update</button>


      </div>
    </form>
  </div>

</div>

<!-- delete -->
<!--
<div class="info" data-ng-if="product.vendor.id == user.id && user.is_logged">
  <h3>Delete product</h3>

  <div class="page-content form-page" data-ng-if="user.is_logged">
    <form class="form-horizontal form-page" role="form" name="upd_form" data-ng-controller="del-product-ctrl">
      <div class="well form-page add-form">
        <div class="form-group">
          <label class="col-sm-8 control-label">I do want to remove my product</label>
          <div class="col-sm-4">
            <input type="checkbox"  class="left form-control" id="product-bidding" data-ng-model="status.want_it" />
          </div>
        </div>
        <hr data-ng-if="status.want_it" />
        <div class="form-group" data-ng-if="status.want_it">
          <label class="col-sm-8 control-label add_status"><span data-ng-if="status.want_it" class="huge add-status">I <span class="huge">REALLY DO WANT</span> to remove my product</span></label>
          <div class="col-sm-4">
            <input type="checkbox"  class="left form-control" id="product-bidding" data-ng-model="status.really" />
          </div>
        </div>

        <button class="btn btn-block btn-lg" data-ng-click="del_product()" data-ng-class="{'btn-danger': status.want_it}" data-ng-disabled="!status.want_it || !status.really">
          <span data-ng-if="!status.really">remove it</span>
          <span data-ng-if="status.really">REALLY REMOVE IT</span>
        </button>

      </div>
    </form>
  </div>
</div>
-->

<!-- comments -->
<!--
<h3>Comments :</h3>

<div class="nothing-to-show">
  <div class="well">
    <p class="lead">There is nothing to show here...</p>
  </div>
</div>

<div data-ng-include="'templates/login-form.html'" />
-->
<!-- comment textarea HERE -->

