

<div class="product-square">

  <div class="product-image">
    <img data-ng-src="{{product.image}}" />
  </div>

  <div class="product-info-block">
    <span class="product-info">
      <div class="product-name">{{product.name}}</div>
      <div class="product-user-rating" data-star-rating="product.vendor.rating"></div>
    </span>
    <span class="product-price">
      {{product.current_price | number: 0}}$
    </span>

    <div class="product-bids">
      {{product.bid_count}} bids
    </div>
    <div class="product-description text-justify">
      {{product.description}}
    </div>
  </div>

</div>