
<div>
  <span class="pull-left" data-ng-repeat="product in products_list" data-ng-include="'templates/product-square.html'" data-ng-click="view_product($index)"></span>
  <div class="clearfix"></div>
</div>
