
<h2>Register</h2>

<div data-ng-controller="user-register-ctrl" class="form-page">

  <form role="form" class="register_form" id="register_form" name="register_form" data-ng-show="!success">
    <div class="well form-page">
      <div class="form-page-status-text" data-ng-class="{activated: status.length}" >
        {{status}}
      </div>
      <div class="form-group">

        <div class="input-group input-group-lg" id="register-user" data-ng-class="{'has-error': register_form.register_username.$error.minlength || register_form.register_username.$error.required || status_user.length}">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" data-ng-model="username" name="register_username" placeholder="username" data-ng-minlength="4" data-ng-required=true>
        </div>
        <div class="form-page-status-text" data-ng-class="{activated: register_form.register_username.$error.required && register_form.register_username.$dirty}" >
          You must enter an username !
        </div>
        <div class="form-page-status-text" data-ng-class="{activated: register_form.register_username.$error.minlength && register_form.register_username.$dirty}" >
          The username must be at least 4 letter long !
        </div>
        <div class="form-page-status-text" data-ng-class="{activated: status_user.length}" >
          {{status_user}}
        </div>

        <div class="input-group input-group-lg" data-ng-class="{'has-error': register_form.register_mail.$error.email || register_form.register_mail.$error.required}">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input type="email" class="form-control" data-ng-model="mail" name="register_mail" placeholder="john.doe@example.com" data-ng-required=true>
        </div>
        <div class="form-page-status-text" data-ng-class="{activated: register_form.register_mail.$error.required && register_form.register_mail.$dirty}" >
          You must enter a mail !
        </div>
        <div class="form-page-status-text" data-ng-class="{activated: register_form.register_mail.$error.email && register_form.register_mail.$dirty}" >
          You must enter a valid mail !
        </div>

        <div class="input-group input-group-lg" data-ng-class="{'has-error': register_form.register_password.$error.minlength || register_form.register_password.$error.required}">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" data-ng-model="password" name="register_password" placeholder="password" data-ng-minlength="6" data-ng-required=true>
        </div>
        <div class="form-page-status-text" data-ng-class="{activated: register_form.register_password.$error.required && register_form.register_password.$dirty}" >
          You must enter a password !
        </div>
        <div class="form-page-status-text" data-ng-class="{activated: register_form.register_password.$error.minlength && register_form.register_password.$dirty}" >
          The password must be at least 6 letters long !
        </div>

        <button type="button" class="btn btn-primary btn-lg btn-block" data-ng-click="register()">Register to UBID</button>
        <a href="#" data-ng-click="pop_page()"><strong>[ go back where you were ]</strong></a>

      </div>
    </div>
  </form>


  <div data-ng-show="success" class="well form-page-success">
    <h1>YOU DID IT !!!</h1>
    <p class="lead">You are now registered in UBID with this username: <strong>{{username}}</strong></p>
    <p>You can now sign in and spend your money away</p>
    <a href="#" data-ng-click="pop_page()"><strong>[ go back where you were ]</strong></a>
  </div>

</div>