
<!-- a slider (that takes a product list) -->
<div data-ubid-slider data-delay="4.5">

  <span class="slider-prev"><i class="fa fa-caret-left fa-4x"></i></span>
  <span class="slider-next"><i class="fa fa-caret-right fa-4x"></i></span>

  <div class="slider-content">
    <div class="slider-element" data-ng-repeat="product in products_list" data-ng-click="view_product($index)">
      <div class="slider-element-image">
        <img data-ng-src="{{product.image}}" />
      </div>
      <div class="product-info-block">
        <span class="product-info">
          <div class="product-name">{{product.name}}</div>
          <div class="product-user-rating" data-star-rating="product.user.rating"></div>
        </span>
        <span class="product-price">
          {{product.current_price | number: 0}}$
        </span>

        <span class="product-description text-justify">
          {{product.description}}
        </span>
      </div>
    </div>
  </div>

</div>
