

<div class="user-info">
  <div class="show-more-icon">
    <i class="fa fa-caret-right fa-2x"></i>
  </div>
  <div class="user-pict">
    <img data-ng-src="{{user.picture}}" />
  </div>
  <div class="user-data">
    <div class="user-name">{{user.username}}</div>
    <div class="user-rating" data-star-rating="user.rating"></div>
  </div>
</div>
