<h2>Your informations</h2>

<div data-ng-controller="user-info-ctrl" class="form-page">
    <form role="form" class="form-horizontal" id="user_info_form" name="user_info_form" data-ng-submit="save()">
        <div class="well form-page">
            <div class="form-group">
                <div class="input-group input-group-lg" data-ng-class="{'has-error': user_info_form.username.$error.minlength || user_info_form.username.$error.required || status_user.length}">
                    <span class="input-group-addon"><i class="fa fa-user"></i>
                    </span>
                    <input type="text" class="form-control" data-ng-model="user.username" name="username" placeholder="username" data-ng-minlength="4" data-ng-required=true>
                </div>
                <div class="form-page-status-text" data-ng-class="{activated: user_info_form.username.$error.required && user_info_form.username.$dirty}">
                    You must enter an username !
                </div>
                <div class="form-page-status-text" data-ng-class="{activated: user_info_form.username.$error.minlength && user_info_form.username.$dirty}">
                    The username must be at least 4 letter long !
                </div>
                <div class="form-page-status-text" data-ng-class="{activated: status_user.length}">
                    {{status_user}}
                </div>
                <div class="input-group input-group-lg" data-ng-class="{'has-error': user_info_form.mail.$error.email || user_info_form.mail.$error.required}">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i>
                    </span>
                    <input type="email" class="form-control" data-ng-model="user.mail" name="mail" placeholder="john.doe@example.com" data-ng-required=true>
                </div>
                <div class="form-page-status-text" data-ng-class="{activated: user_info_form.mail.$error.required && user_info_form.mail.$dirty}">
                    You must enter a mail !
                </div>
                <div class="form-page-status-text" data-ng-class="{activated: user_info_form.mail.$error.email && user_info_form.mail.$dirty}">
                    You must enter a valid mail !
                </div>

                <hr data-ng-if="changepassword" />

                <div data-ng-show="changepassword" class="input-group input-group-lg" data-ng-class="{'has-error': user_info_form.password.$error.minlength || user_info_form.password.$error.required}">
                    <span class="input-group-addon"><i class="fa fa-lock"></i>
                    </span>
                    <input type="password" class="form-control" data-ng-model="password" name="password" placeholder="password" data-ng-minlength="6" data-ng-required=changepassword>
                </div>
                <div class="form-page-status-text" data-ng-class="{activated: user_info_form.password.$error.required && user_info_form.password.$dirty}">
                    You must enter a password !
                </div>
                <div class="form-page-status-text" data-ng-class="{activated: user_info_form.password.$error.minlength && user_info_form.password.$dirty}">
                    The password must be at least 6 letters long !
                </div>

                <hr data-ng-if="changecreditcard" />

                <div data-ng-if="changecreditcard" class="input-group input-group-lg" data-ng-class="{'has-error': user_info_form.creditcard.$invalid}">
                    <span class="input-group-addon"><i class="fa fa-lock"></i>
                    </span>
                    <input type="number" class="form-control" data-ng-model="creditcard.number" name="creditcard" placeholder="credit card number" data-ng-required=true>
                </div>
                <div class="form-page-status-text" data-ng-class="{activated: user_info_form.creditcard.$error.required && user_info_form.creditcard.$dirty}">
                    You must enter a credit card number !
                </div>

                <div data-ng-if="changecreditcard" class="input-group input-group-lg" data-ng-class="{'has-error': user_info_form.creditcard_exp.$invalid}">
                    <span class="input-group-addon"><i class="fa fa-lock"></i>
                    </span>
                    <input type="number" class="form-control" data-ng-model="creditcard.cryptogram" placeholder="cryptogram" name="creditcard_exp" data-ng-required=true>
                </div>
                <div class="form-page-status-text" data-ng-class="{activated: user_info_form.creditcard.$error.required && user_info_form.creditcard.$dirty}">
                    You must enter a credit expiration date !
                </div>

                <div data-ng-if="changecreditcard" class="input-group input-group-lg" data-ng-class="{'has-error': user_info_form.creditcard_cry.$invalid}">
                    <span class="input-group-addon"><i class="fa fa-lock"></i>
                    </span>
                    <input type="text" class="form-control" data-ng-model="creditcard.expiration" name="creditcard_cry" placeholder="expiration date" data-ng-required=true data-bs-datepicker data-autoclose=true data-min-view=1 data-min-date="today" data-date-format="MM-yy">
                </div>
                <div class="form-page-status-text" data-ng-class="{activated: user_info_form.creditcard.$error.required && user_info_form.creditcard.$dirty}">
                    You must enter a credit expiration date !
                </div>

                <hr />

                <p data-ng-hide="changepassword">
                    <a href="#" data-ng-click="changepassword=true">
                        <strong>Change password</strong>
                    </a>
                </p>
                <p data-ng-hide="changecreditcard">
                    <a href="#" data-ng-click="changecreditcard=true">
                        <strong>Change credit card number</strong>
                    </a>
                </p>

                <button type="submit" class="btn btn-primary btn-lg btn-block" data-ng-disabled="loading">Update</button>
            </div>
        </div>
</div>
</form>
</div>
