<!-- debug -->
<div wait-for-load class="black-box waitidata-ng-for-angular" id="history" data-ng-controller="debug" style="position:fixed;top:150px;right        :0;height:100%;overflow-y:auto;z-index:10;min-width:40px;max-width:35%;">
  <!-- http terminal -->
  <button class="btn btn-inverse btn-block" data-ng-click="debug_http_visible=!debug_http_visible"><i class="fa fa-terminal"></i></button>
  <div data-ng-show="debug_http_visible" style="position:relative;">
    <div class="well" style="margin-top:5px;">
      <form data-ng-submit="submit_url()" class="navbar-form">
        <div class="control-group input-append input-prepend">
          <span class="btn add-on" data-ng-model="base_url" bs-button-select="['/server.php?', '/api.php?', '/index.php?', '/']">/server.php?</span>
          <input type="text" class="span4" data-ng-model="data"></input>
          <button type="submit" class="btn" data-translate>Submit request</button>
        </div>
      </form>
      <br/>
      <strong class="">memo:&nbsp;</strong>
      <a class="btn" data-ng-click="data='rq='" data-translate>request</a>
      <a class="btn btn-primary" data-ng-click="data='rq=login&username=xxxxx&password=***'" data-translate>Login</a>
      <a class="btn btn-danger" data-ng-click="data='rq=logout'" data-translate>Logout</a>
    </div>

    <div class="well not-so" style="margin-left:-5px; margin-right:-5px;">
      <a class="btn pull-right btn-danger" data-ng-click="http_history.history=[]" data-translate>clear</a><h4 data-translate>Requests:</h4>
    </div>

    <div data-ng-repeat="entry in http_history.history" class="well">
      <h5>{{entry.time}}</h5>
      <pre><span data-translate>request</span>: <strong>{{entry.data.config.url}}</strong></pre>
      <br />
      <pre class="pointer" data-ng-click="entry.show_header=!entry.show_header"><i class="fa fa-collapse" data-ng-show="entry.show_header"></i><i class="fa fa-expand" data-ng-show="!entry.show_header"></i> <span data-translate>headers received</span>:
<span data-ng-show="entry.show_header">{{entry.data.headers() | json}}</span></pre>
      <br />
      <pre ><span data-translate>code HTTP</span>: <strong>{{entry.data.status}}</strong></pre>
      <br />
      <pre class="pointer" data-ng-click="entry.show_content=!entry.show_content"><i class="fa fa-collapse" data-ng-show="entry.show_content"></i><i class="fa fa-expand" data-ng-show="!entry.show_content"></i> <span data-translate>answer</span>:
<span data-ng-show="entry.show_content">{{entry.data.data | json}}</span></pre>
    </div>

  </div>

  <!-- re-signin/signout shortcut -->
  <button class="btn btn-danger btn-block" data-ng-click="base_url='/server.php?';data='rq=logout';submit_url();"><i class="fa fa-sign-out"></i></button>
  <button class="btn btn-primary btn-block" data-ng-click="base_url='/server.php?';data='rq=logout';submit_url();need_auth()"><i class="fa fa-sign-in"></i></button>
  <!-- show success in alerts -->
  <button class="btn btn-inverse btn-block" data-ng-model="http_history.print_success" bs-button><i class="fa fa-bug"></i></button>

</div>